.container .top .nav{
	min-width: 1280px;
	height: 56px;
	position: relative;
	vertical-align: top;
}
.container .top .nav .logo{
	position: absolute;
	left: 43px;
	top: 13px;
	width: 31px;
	height: 31px;
}
.container .top .nav .slogan{
	position: absolute;
	margin-top: -5px;
	left: 101px;
	top: 18px;
	font-size: 21px;
}
.container .top .nav ul{
	position: absolute;
	left:681px;
	top: 17px;
	list-style: none;
}
.container .top .nav ul li{
	float: left;
	margin-top: -5px;
	padding: 0 20px 20px;
	color: #787b83;
	font-size: 14px;
	font-weight: bold;
}
.container .top .nav ul li:hover{
	border-bottom: 5px solid #e74f4d;
	color: #e74f4d;
}
.container .top .nav .head{
	position: absolute;
	top: 16px;
	right: 100px;
}
.container .top .nav .login{
	position: absolute;
	top: 17px;
	right: 67px;
	margin-top: -5px;
	font-size: 14px;
	font-weight: bold;
	color:#e74f4d;
}
.container .top .banner{
	min-width: 1280px;
	height: 851px;
	position: relative;
}
.container .top .banner img{
	border: none;
}
.container .top .banner .title{
	position: absolute;
	left: 117px;
	top: 230px;
	color: #fff;
	font-size: 60px;
}
.container .top .banner .text{
	position: absolute;
	top: 310px;
	left: 124px;
	margin-top: -5px;
	font-size: 21px;
	color: #fff;
}
.container .top .banner .begin{
	position: absolute;
	top: 429px;
	left: 126px;
	width: 331px;
	height: 65px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 65px;
	background-color: #e74f4d;
}