.container .top{
	min-width: 1280px;
}
.container .top .nav{
	width: 1154px;
	margin:0 auto;
	height: 56px;
}
.container .top .nav .left{
	float: left;
}
.container .top .nav .logo{
	float: left;
	background-image: url(../img/logo.png);
	margin-top: 13px;
	width: 31px;
	height: 31px;
}
.container .top .nav .slogan{
	float: left;
	margin-left: 11px;
	margin-top: 18px;
	font-size: 21px;
	cursor: pointer;
}
.container .top .nav .right{
	float: right;
}
.container .top .nav ul{
	list-style: none;
	margin-top: 17px;
}
.container .top .nav ul li{
	float: left;
	padding: 0 20px 20px;
	color: #787b83;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.container .top .nav ul li:hover{
	border-bottom: 5px solid #e74f4d;
	color: #e74f4d;
}
.container .top .nav .head{
	margin-top: 16px;
	right: 100px;
	margin-right: 10px;
}
.container .top .nav .login{
	margin-top: 16px;
	font-size: 14px;
	font-weight: bold;
	color:#e74f4d;
	cursor: pointer;
}
.container .top .banner{
	min-width: 1280px;
	height: 851px;
	background-image: url(../img/head-back.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.container .top .banner .title{
	color: #fff;
	font-size: 60px;
}
.container .top .content{
	padding-top: 230px;
	padding-left: 117px;
}
.container .top .banner .text{
	margin-left: 9px;
	margin-top: 5px;
	font-size: 21px;
	line-height: 40px;
	color: #fff;
}
.container .top .banner .begin{
	margin-top: 63px;
	margin-left: 126px;
	width: 331px;
	height: 65px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 65px;
	background-color: #e74f4d;
	cursor: pointer;
}